<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type = "global.sesoc.shop.vo.Member" alias = "Member" />
		<typeAlias type = "global.sesoc.shop.vo.MessageRoom" alias = "MessageRoom" />
		<typeAlias type = "global.sesoc.shop.vo.Socar" alias = "Socar" />
		<typeAlias type = "global.sesoc.shop.vo.Culture" alias = "Culture" />
		<typeAlias type = "global.sesoc.shop.vo.MyRecord" alias = "MyRecord" />
		<typeAlias type = "global.sesoc.shop.vo.Friend" alias = "Friend" />
		<typeAlias type = "global.sesoc.shop.vo.Message" alias = "Message" />
		<typeAlias type = "global.sesoc.shop.vo.RequestFriend" alias = "RequestFriend" />
		<typeAlias type = "global.sesoc.shop.vo.Board" alias = "Board" />
		<typeAlias type = "global.sesoc.shop.vo.Reply" alias = "Reply" />
	</typeAliases>

 	<mappers>
 		<mapper resource="mappers/memberMapper.xml"></mapper>
 		<mapper resource="mappers/chatMapper.xml"></mapper>
 		<mapper resource="mappers/socarMapper.xml"></mapper>
 		<mapper resource="mappers/friendMapper.xml"></mapper>
 		<mapper resource="mappers/boardMapper.xml"></mapper>
 		<mapper resource="mappers/replyMapper.xml"></mapper>
 	</mappers>
</configuration>
